# Postgres variables
SECRET_KEY=

# Database variables
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

# Redis variables
REDIS_URL=

# redis cache timeout for user registration
TIMEOUT=

# Email
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

# SIMPLE-JWT Configuration
ACCESS_TOKEN_LIFETIME_MIN=
REFRESH_TOKEN_LIFETIME_MIN=
ROTATE_REFRESH_TOKENS=
BLACKLIST_AFTER_ROTATION=
